@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #9ea1a1;
}

.product-card {
  display: grid;
  grid-template-columns: 150px auto;
  width: 28rem;
  height: 10rem;
  margin-bottom: 20px;
  margin-top: 15px;

  svg {
    width: 18px;
    height: 18px;
  }

}

.detailsBtn {
  display: flex;
  align-items: center;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.cartProductInfo {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}

.seller {
  margin-bottom: 50px;
}

.card-title {
  margin-bottom: 0px;
}

.price {
  margin-bottom: 0px;
  font-size: 15px;
}

.inStock {
  color: rgb(20, 205, 20);
}

.outOfStock {
  color: red;
}

.btnAlign {
  display: flex;
  align-items: center;
  color: black;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productButtons {
  display: flex;
  flex-direction: row;
}

.card-body {
  padding: 10px 10px 0px;
}

.card-img {
  height: 158px;
}

.product-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkout-card {
  width: 80rem; 
  display: grid; 
  margin-top: 15px;
  grid-template-columns: 250px auto;

  svg {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 768px) {
  .checkout-card {
    width: 100%; /* Adjust width for smaller screens */
  }
}


@media (max-width: 768px) {
  .checkout-card {
    width: 80%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .checkout-card {
    width: 100%; /* Make the card full width on very small screens */
  }
}
